<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Tareas - Manager Societies</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/img/favicon.png" rel="icon">
  <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/css/style.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: NiceAdmin - v2.4.0
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index" class="logo d-flex align-items-center">
        <img src="/img/logo.png" alt="">
        <span class="d-none d-lg-block">Manager Societies</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Buscar" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="/img/profile-img.jpg" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">J. Barrio</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Javier Barrio</h6>
              <span>Administrador</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="users-profile">
                <i class="bi bi-person"></i>
                <span>Mi Perfil</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="edit-users-profile">
                <i class="bi bi-gear"></i>
                <span>Ajustes de Cuenta</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Salir</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link collapsed" href="index">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashoard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#agenda-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>Agenda</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="agenda-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
          <li>
            <a href="agenda-clientes">
              <i class="bi bi-circle"></i><span>Clientes</span>
            </a>
          </li>
          <li>
            <a href="agenda-empleados">
              <i class="bi bi-circle"></i><span>Empleados</span>
            </a>
          </li>
          <li>
            <a href="agenda-empresassubcontratadas">
              <i class="bi bi-circle"></i><span>Empresas Subcontratadas</span>
            </a>
          </li>
          <li>
            <a href="agenda-proveedores">
              <i class="bi bi-circle"></i><span>Proveedores</span>
            </a>
          </li>
        </ul>
      </li><!-- End Agenda Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="calendario">
          <i class="bi bi-calendar-date"></i><span>Calendario</span>
        </a>
      </li><!-- End Calendario Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#facturacion-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-receipt"></i><span>Facturación</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="facturacion-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="facturacion-albaranes">
              <i class="bi bi-circle"></i><span>Albaranes</span>
            </a>
            <a href="facturacion-facturas">
              <i class="bi bi-circle"></i><span>Facturas</span>
            </a>
            <a href="facturacion-gastos">
              <i class="bi bi-circle"></i><span>Gastos Externos</span>
            </a>
            <a href="facturacion-nominas">
              <i class="bi bi-circle"></i><span>Nóminas</span>
            </a>
            <a href="facturacion-presupuestos">
              <i class="bi bi-circle"></i><span>Presupuestos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Facturación Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="finanzas">
          <i class="bi bi-cash-coin"></i>
          <span>Finanzas</span>

        </a>
      </li><!-- End Finanzas Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#inventario-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-archive"></i><span>Inventario</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="inventario-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="inventario-herramientas">
              <i class="bi bi-circle"></i><span>Herramientas</span>
            </a>
          </li>
          <a href="inventario-maquinas">
            <i class="bi bi-circle"></i><span>Máquinas</span>
          </a>
          <li>
            <a href="inventario-materiales">
              <i class="bi bi-circle"></i><span>Materiales</span>
            </a>
          </li>
          <li>
            <a href="inventario-productos">
              <i class="bi bi-circle"></i><span>Productos</span>
            </a>
          </li>
          <li>
            <a href="inventario-vehiculos">
              <i class="bi bi-circle"></i><span>Vehículos</span>
            </a>
          </li>
        </ul>
      </li><!-- End Inventario Nav -->


      <li class="nav-item">
        <a class="nav-link collapse" href="tareas">
          <i class="bi bi-hourglass-split"></i><span>Tareas</span>
        </a>
      </li>
      <!-- End Tareas Nav -->

      <li class="nav-heading">Administrador</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register">
          <i class="bi bi-card-list"></i>
          <span>Crear Usuario</span>
        </a>
      </li><!-- End Register Page Nav -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>Tareas</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index">Dashboard</a></li>
          <li class="breadcrumb-item">Tareas</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">
        <!-- Top Clientes -->
        <div class="col-12">
          <div class="row">
            <!-- Clientes Card -->
            <div class="col-12">
              <div class="card info-card sales-card d-flex align-items-center">
                <div class="card-body">
                  <h5 class="card-title">Tareas Hoy</h5>
                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-hourglass-split"></i>
                    </div>
                    <div class="ps-3">
                      <h6 th:text="${numTareas}"></h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Clientes Card -->
          </div>
        </div>
        <!-- End Top Clientes -->

        <!-- Listado de Clientes Card -->
        <div class="col-12">
          <div class="card top-selling overflow-auto">

            <div class="filter">
              <a class="icon" href="#" data-bs-toggle="modal" data-bs-target="#crearTarea"><i class="bi bi-calendar-plus" style="font-size: 20px;"></i></a>
            </div>

            <div class="modal fade" id="crearTarea" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Crear Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <form action = "#" th:action="@{/anyadirTarea}" method="post">
                        <div class="row mb-3">
                          <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="cliente" id ="cliente" required>
                              <option selected="">Selecciona Cliente</option>
                              <option th:each ="cliente: ${clientes}" th:value="${cliente.ref}" th:text="${cliente.nombre} + ' ' + ${cliente.apellidos}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="empleados" class="col-sm-2 col-form-label">Empleados</label>
                          <div class="col-sm-10">
                            <select class="form-select" multiple name="empleados" id ="empleados" required>
                              <option selected="">Selecciona Empleados</option>
                              <option th:each ="empleado: ${empleados}" th:value="${empleado.nombre} + ' ' + ${empleado.apellidos}" th:text="${empleado.nombre} + ' ' + ${empleado.apellidos}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha Inicio</label>
                          <div class="col-sm-10">
                            <input id="fechaInicio" name="fechaInicio" type="date" class="form-control" required>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="fechaFin" class="col-sm-2 col-form-label">Fecha Fin</label>
                          <div class="col-sm-10">
                            <input id="fechaFin" name="fechaFin" type="date" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="hora" class="col-sm-2 col-form-label">Hora</label>
                          <div class="col-sm-10">
                            <input id="hora" name="hora" type="time" class="form-control" required>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gastoExtra" class="col-sm-2 col-form-label">Gasto Extra</label>
                          <div class="col-sm-10">
                            <input id="gastoExtra" name="gastoExtra" type="number" class="form-control" required step="0.01" min="0">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="estado" id ="estado" required>
                              <option selected="">Selecciona Estado</option>
                              <option value=0>Sin acabar</option>
                              <option value=1>Acabado</option>
                              <option value=2>Acabado y Cobrado</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="info" class="col-sm-2 col-form-label">Info</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" name="info" id="info" style="height: 100px"></textarea>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inventario" class="col-sm-2 col-form-label">Inventario</label>
                          <div class="col-sm-10">
                            <select class="form-select" multiple name="inventario" id ="inventario">
                              <option selected="">Selecciona Inventario</option>
                              <option th:each ="herramienta: ${herramientas}" th:value="${herramienta.modelo}" th:text="${herramienta.modelo}"></option>
                              <option th:each ="maquina: ${maquinas}" th:value="${maquina.modelo}" th:text="${maquina.modelo}"></option>
                              <option th:each ="material: ${materiales}" th:value="${material.modelo}" th:text="${material.modelo}"></option>
                              <option th:each ="producto: ${productos}" th:value="${producto.modelo}" th:text="${producto.modelo}"></option>
                              <option th:each ="vehiculo: ${vehiculos}" th:value="${vehiculo.modelo}" th:text="${vehiculo.modelo}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button> 
                          <button type="submit" class="btn btn-primary" onclick="">Crear Tarea</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div th:each="tarea: ${tareas}" class="modal fade" th:id="mostrarInfoClienteTarea+${tarea.ref}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Info Cliente</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Ref</span>
                        <input th:value="${tarea.cliente.ref}" type="text" class="form-control" readonly>
                      </div>
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Nombre</span>
                        <input th:value="${tarea.cliente.nombre} + ' ' + ${tarea.cliente.apellidos}" type="text" class="form-control" readonly>
                      </div>
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">DNI | CIF</span>
                        <input th:value="${tarea.cliente.id}" type="text" class="form-control" readonly>
                      </div>
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Teléfono</span>
                        <input th:value="${tarea.cliente.telefono}" type="text" class="form-control" readonly>
                      </div>
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Correo</span>
                        <input th:value="${tarea.cliente.email}" type="text" class="form-control" readonly>
                      </div>
                      <div class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Dirección</span>
                        <input th:value="${tarea.cliente.direccion}" type="text" class="form-control" readonly>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div th:each="tarea: ${tareas}" class="modal fade" th:id="empleadosTarea+${tarea.ref}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Empleados a realizar la Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <div th:each="empleado: ${tarea.empleados}" class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Nombre</span>
                        <input th:value="${empleado}" type="text" class="form-control" readonly>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div th:each="tarea: ${tareas}" class="modal fade" th:id="inventarioTarea+${tarea.ref}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Inventario para la Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <div th:each="inventario: ${tarea.inventario}" class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Modelo</span>
                        <input th:value="${inventario}" type="text" class="form-control" readonly>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div th:each="tarea: ${tareas}" class="modal fade" th:id="infoTarea+${tarea.ref}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Información para la Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <div th:each="info: ${tarea.info}" class="row mb-3 input-group">
                        <span class="col-sm-2 col-form-label input-group-text">Info</span>
                        <textarea th:text="${info}" type="text" class="form-control" readonly></textarea>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div th:each="tarea: ${tareas}" class="modal fade" th:id="editarTarea+${tarea.ref}" tabindex="-1" style="display: none;" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Editar Tarea</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body card">
                    <div class="card-body">
                      <form action = "#" th:action="@{/editarTarea}" method="post">
                        <div class="row mb-3">
                          <label for="ref" class="col-sm-2 col-form-label">Ref</label>
                          <div class="col-sm-10">
                            <input th:value="${tarea.ref}" id = "ref" name="ref" type="text" class="form-control" readonly>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="cliente" class="col-sm-2 col-form-label">Cliente</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="cliente" required readonly="">
                              <option selected th:value="${tarea.cliente.ref}" th:text="${tarea.cliente.nombre} + ' ' + ${tarea.cliente.apellidos}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="empleados" class="col-sm-2 col-form-label">Empleados</label>
                          <div class="col-sm-10">
                            <select class="form-select" multiple name="empleados" required>
                              <option selected="" th:if="${tarea.contieneEmpleado(empleado.nombre + ' ' + empleado.apellidos, tarea.empleados)}" th:each ="empleado: ${empleados}"
                                      th:value="${empleado.nombre} + ' ' + ${empleado.apellidos}" th:text="${empleado.nombre} + ' ' + ${empleado.apellidos}"></option>
                              <option th:if="${!tarea.contieneEmpleado(empleado.nombre + ' ' + empleado.apellidos, tarea.empleados)}" th:each ="empleado: ${empleados}"
                                      th:value="${empleado.nombre} + ' ' + ${empleado.apellidos}" th:text="${empleado.nombre} + ' ' + ${empleado.apellidos}"></option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="fechaInicio" class="col-sm-2 col-form-label">Fecha Inicio</label>
                          <div class="col-sm-10">
                            <input th:value="${tarea.desformatearFecha(tarea.fechaInicio)}" name="fechaInicio" type="date" class="form-control" required>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="fechaFin" class="col-sm-2 col-form-label">Fecha Fin</label>
                          <div class="col-sm-10">
                            <input th:value="${tarea.desformatearFecha(tarea.fechaFin)}" name="fechaFin" type="date" class="form-control">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="hora" class="col-sm-2 col-form-label">Hora</label>
                          <div class="col-sm-10">
                            <input th:value="${tarea.hora}" name="hora" type="time" class="form-control" required>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="gastoExtra" class="col-sm-2 col-form-label">Gasto Extra</label>
                          <div class="col-sm-10">
                            <input th:value="${tarea.gastoExtra}" name="gastoExtra" type="number" class="form-control" required step="0.01" min="0">
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="estado" class="col-sm-2 col-form-label">Estado</label>
                          <div class="col-sm-10">
                            <select class="form-select" name="estado" required>
                              <option th:if="${tarea.estado}==0" value=0 selected>Sin acabar</option>
                              <option th:else="${tarea.estado}==0" value=0>Sin acabar</option>
                              <option th:if="${tarea.estado}==1" value=1 selected>Acabado</option>
                              <option th:else="${tarea.estado}==1" value=1>Acabado</option>
                              <option th:if="${tarea.estado}==2" value=2 selected>Acabado y Cobrado</option>
                              <option th:else="${tarea.estado}==2" value=2>Acabado y Cobrado</option>
                            </select>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="info" class="col-sm-2 col-form-label">Info</label>
                          <div class="col-sm-10">
                            <textarea class="form-control" name="info" th:text="${tarea.info}" style="height: 100px"></textarea>
                          </div>
                        </div>
                        <div class="row mb-3">
                          <label for="inventario" class="col-sm-2 col-form-label">Inventario</label>
                          <div class="col-sm-10">
                            <select class="form-select" multiple name="inventario">
                              <option selected="" th:if = "${tarea.contieneInventario(herramienta.modelo, tarea.inventario)}" th:each ="herramienta: ${herramientas}"
                                      th:value="${herramienta.modelo}" th:text="${herramienta.modelo}"></option>
                              <option th:if = "${!tarea.contieneInventario(herramienta.modelo, tarea.inventario)}" th:each ="herramienta: ${herramientas}"
                                      th:value="${herramienta.modelo}" th:text="${herramienta.modelo}"></option>
                              <option selected="" th:if = "${tarea.contieneInventario(maquina.modelo, tarea.inventario)}" th:each ="maquina: ${maquinas}"
                                      th:value="${maquina.modelo}" th:text="${maquina.modelo}"></option>
                              <option th:if = "${!tarea.contieneInventario(maquina.modelo, tarea.inventario)}" th:each ="maquina: ${maquinas}"
                                      th:value="${maquina.modelo}" th:text="${maquina.modelo}"></option>
                              <option selected="" th:if = "${tarea.contieneInventario(material.modelo, tarea.inventario)}" th:each ="material: ${materiales}"
                                      th:value="${material.modelo}" th:text="${material.modelo}"></option>
                              <option th:if = "${!tarea.contieneInventario(material.modelo, tarea.inventario)}" th:each ="material: ${materiales}"
                                      th:value="${material.modelo}" th:text="${material.modelo}"></option>
                              <option selected="" th:if = "${tarea.contieneInventario(producto.modelo, tarea.inventario)}" th:each ="producto: ${productos}"
                                      th:value="${producto.modelo}" th:text="${producto.modelo}"></option>
                              <option th:if = "${!tarea.contieneInventario(producto.modelo, tarea.inventario)}" th:each ="producto: ${productos}"
                                      th:value="${producto.modelo}" th:text="${producto.modelo}"></option>
                              <option selected="" th:if = "${tarea.contieneInventario(vehiculo.modelo, tarea.inventario)}" th:each ="vehiculo: ${vehiculos}"
                                      th:value="${vehiculo.modelo}" th:text="${vehiculo.modelo}"></option>
                              <option th:if = "${!tarea.contieneInventario(vehiculo.modelo, tarea.inventario)}" th:each ="vehiculo: ${vehiculos}"
                                      th:value="${vehiculo.modelo}" th:text="${vehiculo.modelo}"></option>

                            </select>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          <button type="submit" class="btn btn-primary" onclick="">Editar Tarea</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body pb-0">
              <h5 class="card-title">Listado de Tareas</h5>

              <div class="modal fade" id="facturas" tabindex="-1" style="display: none;" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title">Tareas</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body card">
                      <div class="card-body">
                        <table class="table table-borderless datatable">
                          <thead>
                            <tr>
                              <th data-sortable="false" scope="col"><input class="form-check-input me-1" type="checkbox"></th>
                              <th scope="col" data-sortable="false">Ref</th>
                              <th scope="col">Documento</th>
                              <th scope="col">Fecha</th>
                              <th data-sortable="false" scope="col">Descargar</th>
                              <th data-sortable="false" scope="col">Borrar</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td><input class="form-check-input me-1" type="checkbox"></td>
                              <td>1</td>
                              <td>Fact01.pdf</td>
                              <td>12/10/2020</td>
                              <td><a class="dropdown-item bi-download" href="#"></a></td>
                              <td><a class="dropdown-item bi-clipboard-x" href="#"></a></td>
                            </tr>
                            <tr>
                              <td><input class="form-check-input me-1" type="checkbox"></td>
                              <td>2</td>
                              <td>Fact02.pdf</td>
                              <td>13/10/2020</td>
                              <td><a class="dropdown-item bi-download" href="#"></a></td>
                              <td><a class="dropdown-item bi-clipboard-x" href="#"></a></td>
                            </tr>
                          </tbody>
                        </table>
                        <form>
                          <div class="row">
                            <div class="col-sm-10">
                              <input style="font-size: 0.7rem;" id="documento" type="file" class="form-control">
                            </div>         
                            <label for="documento" class="col-sm-2"><button type="submit" class="btn btn-outline-success btn-sm bi bi-upload" onclick=""></button></label>                         
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <table class="table table-borderless datatable">
                <thead>
                  <tr>
                    <th scope="col">Ref</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Empleados</th>
                    <th scope="col">Fecha Inicio</th>
                    <th scope="col">Fecha Fin</th>
                    <th scope="col">Hora</th>
                    <th scope="col">Gasto Extra</th>
                    <th scope="col">Inventario</th>
                    <th data-sortable="false" scope="col">Info</th>
                    <th data-sortable="false" scope="col">Facturas</th>
                    <th data-sortable="false" scope="col">Estado</th>
                    <th data-sortable="false" scope="col">Editar</th>
                    <th data-sortable="false" scope="col">Borrar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each = "tarea: ${tareas}">
                    <td th:text="${tarea.ref}"></td>
                    <td><a class="dropdown-item" href="#" data-bs-toggle="modal" th:data-bs-target="'#'+mostrarInfoClienteTarea+${tarea.ref}"><i class="bi bi-person-circle"></i></a></td>
                    <td><a class="dropdown-item bi-people" href="#" data-bs-toggle="modal" th:data-bs-target="'#'+empleadosTarea+${tarea.ref}"></a></td>
                    <td th:text= "${tarea.fechaInicio}"></td>
                    <td th:text= "${tarea.fechaFin}"></td>
                    <td th:text= "${tarea.hora}"></td>
                    <td th:text= "${tarea.gastoExtra} + ' €'"></td>
                    <td><a class="dropdown-item" href="#" data-bs-toggle="modal" th:data-bs-target="'#'+inventarioTarea+${tarea.ref}"><i class="bi bi-archive"></i></a></td>
                    <td><a class="dropdown-item" href="#" data-bs-toggle="modal" th:data-bs-target="'#'+infoTarea+${tarea.ref}"><i class="bi bi-card-text"></i></a></td>
                    <td><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#facturas"><i class="bi bi-book"></i></a></td>
                    <td th:if = "${tarea.estado==0}"><i class="bi bi-clock" ></i></td>
                    <td th:if = "${tarea.estado==1}"><i class="bi bi-check2" ></i></td>
                    <td th:if = "${tarea.estado==2}"><i class="bi bi-check2-all" ></i></td>
                    <td><a class="dropdown-item" href="#" data-bs-toggle="modal" th:data-bs-target="'#'+editarTarea+${tarea.ref}"><i class="bi bi-eraser"></i></a></td>
                    <td>
                      <form action="#" th:action="@{/borrarTarea}" method="post">
                        <button class="dropdown-item bi-trash" name = "ref" th:value="${tarea.ref}" type="submit"></button>
                      </form>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>

          </div>
        </div><!-- End Clientes -->
      </div>
    </section>

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Javier Barrio</span></strong>. Todos los derechos reservados
    </div>
    <div class="credits">
      <!-- All the links in the footer should remain intact. -->
      <!-- You can delete the links only if you purchased the pro version. -->
      <!-- Licensing information: https://bootstrapmade.com/license/ -->
      <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
      Diseñado por <a href="https://github.com/JaviBarrio6">Javier Barrio</a>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/chart.js/chart.min.js"></script>
  <script src="/vendor/echarts/echarts.min.js"></script>
  <script src="/vendor/quill/quill.min.js"></script>
  <script src="/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="/vendor/tinymce/tinymce.min.js"></script>
  <script src="/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>

</html>